<template lang="html">
  <div>
    <!-- <pre>{{ playlist }}</pre>
    <pre>{{ draft }}</pre> -->

    <form action="/" @submit.prevent="submit">
      <div class="form-group mb-3">
        <label for="playlist_name">Name:</label>
        <input
          type="text"
          name="playlist_name"
          id="playlist_name"
          class="form-control"
          placeholder="Name"
          aria-describedby="helpId"
          v-model="draft.name"
          ref="nameInputElem"
        />
        <!-- :value="draft.name"
          @input="draft.name = ($event as any).target.value" -->
        <small id="helpId" class="text-muted">0 / 70</small>
      </div>

      <div class="form-check mb-3">
        <label class="form-check-label">
          <input
            type="checkbox"
            class="form-check-input"
            name="playlist_public"
            id="playlist_public"
          />
          Public
        </label>
      </div>

      <div class="form-group mb-3">
        <label for="playlist_description">Description:</label>
        <textarea
          class="form-control"
          name="playlist_description"
          id="playlist_description"
          rows="3"
        ></textarea>
      </div>
      <button class="btn btn-danger" @click="$emit('cancel')">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Playlist } from "./Playlist";

export default defineComponent({
  props: {
    playlist: {
      default: {
        id: "",
        name: "",
        description: "",
        public: false,
      } as Playlist,
      type: Object as PropType<Playlist>,
    },
  },
  watch: {
    playlist: {
      handler(value) {
        this.draft = { ...value };
      },
      immediate: true,
    },
  },
  emits: ["cancel", "save"],
  methods: {
    submit() {
      this.$emit("save", this.draft);
    },
  },
  data() {
    return {
      draft: { ...this.playlist },
    };
  },
  mounted() {
    const input = this.$refs["nameInputElem"];
    if (input instanceof HTMLInputElement) {
      input.focus();
    }
  },
});
</script>
<style lang="css"></style>
