<template lang="html">
  <div>
    <!-- .list-group>.list-group-item.list-group-item-action{$. Playlist $$$}*3 -->
    <div class="list-group">
      <!-- :class="{ active: playlist.id == selectedId }" -->
      <router-link
        :to="{ name: 'Playlists', params: { mode: '', id: playlist.id } }"
        class="list-group-item list-group-item-action"
        v-for="(playlist, i) of playlists"
        :key="playlist.id"
        @click.exact.capture.self="select(playlist.id)"
        @click.shift="$emit('remove', playlist.id)"
        @keyup.delete="$emit('remove', playlist.id)"
        @keyup.alt.control.delete="$emit('remove', playlist.id)"
      >
        {{ i + 1 }}. {{ playlist.name }}
        <!-- <span> {{ i + 1 }}. {{ playlist.name }}</span> wont work with self -->
        <span class="close float-end" @click.stop="$emit('remove', playlist.id)"
          >&times;</span
        >
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: ["playlists", "selectedId"],
  // https://v3.vuejs.org/guide/migration/emits-option.html#migration-strategy
  emits: ["selected", "remove"],
  methods: {
    select(id: string) {
      this.$emit("selected", id);
    },
  },
  data() {
    return {};
  },
});
</script>
<style lang="css"></style>
