<template lang="html">
  <div>
    <h1>Playlists</h1>

    <!-- .row>.col*2 -->
    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlistsData"
          :selected-id="selected.id"
          :mode="mode"
          @selected="selectPlaylist($event)"
        />

        <!-- <input type="text" 
          :value="playlistsData[0].name"
          @keyup="playlistsData[0].name = ($event as any).target.value"> -->

        <!-- <playlist-list /> -->
      </div>
      <div class="col">
        <PlaylistDetails v-if="mode == 'details'" :playlist="selected" @goEdit="mode = 'edit'"/>

        <PlaylistForm v-else-if="mode == 'edit'" :playlist="selected" @save="savePlaylist" @goDetails="mode = 'details'"/>

        <p class="alert alert-info" v-else>No playlist</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import PlaylistList from "@/components/playlists/PlaylistList.vue";
import PlaylistDetails from "@/components/playlists/PlaylistDetails.vue";
import PlaylistForm from "@/components/playlists/PlaylistForm.vue";
import { Playlist } from "../components/playlists/PlaylistDetails.vue";

type Modes = "details" | "edit";


const playlistData = [
  {
    id: "123",
    name: "Playlist 123",
    public: false,
    description: "Best playlist <b>123</b>",
  },
  {
    id: "234",
    name: "Playlist 234",
    public: true,
    description: "Best playlist <b>234</b>",
  },
  {
    id: "345",
    name: "Playlist 345",
    public: false,
    description: "Best playlist <b>345</b>",
  },
];

export default defineComponent({
  components: { PlaylistList, PlaylistDetails, PlaylistForm },
  data() {
    return {
      mode: "details" as Modes,
      selectedId: "123",
      playlistsData: playlistData,
      selected: playlistData[0],
    };
  },
  methods: {
    savePlaylist(draft: Playlist) {
      console.log(draft);
      const index = this.playlistsData.findIndex((p) => p.id === draft.id);

      // Reactive vs non-reactive Array mutations
      // this.playlistsData[index] = draft; // v3 - OK
      // this.playlistsData[index] = draft; // v2 - Not Reactive
      // this.$set(this.playlistsData,index,draft) // v2 - OK
      this.playlistsData.splice(index, 1, draft); // v2 - OK, v3 - OK
    },
    edit() {
      this.mode = "edit";
    },
    cancel() {
      this.mode = "details";
    },
    selectPlaylist(id: string) {
      this.selected = this.playlistsData.find((p) => p.id === id)!;
    },
  },
});
</script>
<style lang="css"></style>