<template lang="html">
  <div>
    <form action="/">
      <div class="form-group mb-3">
        <label for="playlist_name">Name:</label>
        <input
          v-model="editedPlaylist.name"
          type="text"
          name="playlist_name"
          id="playlist_name"
          class="form-control"
          placeholder="Name"
          aria-describedby="helpId"
        />
        <small id="helpId" class="text-muted">0 / 70</small>
      </div>

      <div class="form-check mb-3">
        <label class="form-check-label">
          <input
            v-model="editedPlaylist.public"
            type="checkbox"
            class="form-check-input"
            name="playlist_public"
            id="playlist_public"
          />
          Public
        </label>
      </div>

      <div class="form-group mb-3">
        <label for="playlist_description">Description:</label>
        <textarea
          v-model="editedPlaylist.description"
          class="form-control"
          name="playlist_description"
          id="playlist_description"
          rows="3"
        ></textarea>
      </div>
    </form>

    <button class="btn btn-danger" @click="$emit('goDetails')">Cancel</button>
    <button type="submit" class="btn btn-primary" @click="$emit('save', editedPlaylist)" >Save</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: ['playlist'],
  emits: ['goDetails', 'save'],
  data() {
    return {
      editedPlaylist: JSON.parse(JSON.stringify(this.playlist)),
    };
  },
  methods: {
    test() {
      console.log("jestem")
    }
  }
});
</script>
<style lang="css"></style>
