<template lang="html">
  <div>
    <!-- .list-group>.list-group-item.list-group-item-action{$. Playlist $$$}*3 -->
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action"
        :class="{ active: selectedId  === playlist.id, disabled: mode === 'edit'}"
        v-for="(playlist, i) of playlists"
        :key="playlist.id"
        @click=" select(playlist.id)"
      >
        {{ i + 1 }}. {{ playlist.name }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: [
    "playlists",
    "selectedId",
    "mode",
  ],
  methods: {
    select(id: string) {
      this.$emit("selected", id)
      // id.toString();
      // this.selectedId = id;
    },
  },
  data() {
    return {
      // selectedId: '123',
      // playlists: [
      //   {
      //     id: "123",
      //     name: "Playlist 123",
      //     public: false,
      //     description: "Best playlist <b>123</b>",
      //   },
      //   {
      //     id: "234",
      //     name: "Playlist 234",
      //     public: true,
      //     description: "Best playlist <b>234</b>",
      //   },
      //   {
      //     id: "345",
      //     name: "Playlist 345",
      //     public: false,
      //     description: "Best playlist <b>345</b>",
      //   },
      // ],
    };
  },
  
});
</script>
<style lang="css"></style>

