<template lang="html">
  <div>
    <h1>Playlists</h1>

    <!-- .row>.col*2 -->
    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlists"
          :selected-id="selectedId"
          @selected="selectPlaylist($event)"
          @remove="deletePlaylist($event)"
        />
        <button class="btn btn-info mt-3 float-end" @click="create">
          Create New
        </button>
      </div>
      <div class="col">
        <PlaylistDetails
          :playlist="selected"
          @edit="edit"
          v-if="selected && $route.params.mode == ''"
        />

        <PlaylistForm
          :playlist="selected"
          @cancel="cancel"
          @save="savePlaylist"
          v-else-if="selected && $route.params.mode == 'edit'"
        />
        <PlaylistForm
          @cancel="cancel"
          @save="createPlaylist"
          v-else-if="$route.params.mode == 'create'"
        />
        <p class="alert alert-info" v-else>No playlist</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable */
import { defineComponent } from "vue";
import PlaylistList from "@/components/playlists/PlaylistList.vue";
import PlaylistDetails from "@/components/playlists/PlaylistDetails.vue";
import PlaylistForm from "@/components/playlists/PlaylistForm.vue";
import { Playlist } from "@/components/playlists/Playlist";
import { mapGetters } from "vuex";

export default defineComponent({
  components: { PlaylistList, PlaylistDetails, PlaylistForm },
  computed: {
    // myplaylists() {
    //   return this.$store.getters.playlists.myplaylists;
    // },

    ...mapGetters("playlists", {
      playlists: "myplaylists",
    }),
    selected() {
      const id = this.$route.params.id?.toString();
      return id ? this.$store.state.playlists.entities.playlists[id] : null;
    },
  },
  created() {
    this.$store.dispatch("playlists/loadPlaylists");
  },
  methods: {
    create() {
      this.$router.push({
        name: "Playlists",
        params: { mode: "create" },
      });
    },
    edit() {
      if (this.selected)
        this.$router.push({
          name: "Playlists",
          params: { id: this.selected.id, mode: "edit" },
        });
    },
    cancel() {},
    selectPlaylist(id: string) {},
    async createPlaylist(draft: Playlist) {
      const saved = await this.$store.dispatch("playlists/createPlaylist", draft);
      this.$router.replace({
        name: "Playlists",
        params: { id: saved.id },
      });
    },
    deletePlaylist(id: string) {},
    async savePlaylist(draft: Playlist) {
      const saved = await this.$store.dispatch("playlists/updatePlaylist", draft);
      this.$router.replace({
        name: "Playlists",
        params: { id: saved.id, mode:'' },
      });
    },
  },
});
</script>
<style lang="css"></style>
